<!DOCTYPE html>  
<html>
<head>

<meta charset="utf-8">
<meta id="viewport" name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui">
<script src="/static/js/jquery-2.0.0.min.js"></script>
<script src="/static/js/common.js"></script>
<title>{{title}}</title>

<link rel="stylesheet" type="text/css" href="/static/css/wap_detail.css" />
<script src="/static/js/jump2app.js"></script>
</head>
<body  class='sanqianwa  iphone'>

<!-- {% if shared %} -->
<div class="pgc-bar-top"> 
    <a href="#"> 
        <div class="avatar"> 
            <img src="{{img}}" class="avatar">
        </div> 
        <span class="name">{{author}}</span> 
    </a>
</div>
<!-- {% endif %} -->

<article group_id="{{group_id}}" id="container" comment_count="{{comment_count}}" class="box  __pgc_mobile__">
    <div class="article-detail">
        <h1 class="title">{{title}}</h1>
        <div class="subtitle"> 
            <span class="source">{{author}}</span>
            <span class="time">{{time}}</span>            
            <span class="cmt fr">{{comment_count}}条评论</span>
        </div>

        <div class="article-content ">
                <div>
                    {{ content|safe }}
                </div>
        </div>
</div>
</article>


<script>
$(".control a[action-type]").each(function(){
    if(this.innerText.length>4){
        this.style.backgroundPositionX = "25%";
        return;
    }
});
</script>
<!--评论--> 
<div id="comment-spliter"></div>
<div class="comments"  >
    <div class="box">
        <div class="box-content">
            <a href="#" class="comment-load-btn tip" data-type="all">点击加载评论</a>
        </div>
    </div>
</div>


<div id="connect_window" class="jqmID1" style="height: 618px;">
    <iframe src="" frameborder="0" scrolling="no" width="290" height="400" ontouchmove="return false"></iframe>
    <div class="jqmClose closeBtn" ga_event="login" ga_label="close"></div>
</div>

<script>
var _gaq = _gaq || [];
var test_channel = "", test_version = "";
_gaq.push(['_setAccount', 'UA-28423340-7']);
_gaq.push(['_addOrganic','baidu','word']);
_gaq.push(['_setLocalRemoteServerMode']);
_gaq.push(['_setDomainName', '.']);
_gaq.push(['_trackPageview','']);


function gaqpush(ga_event, ga_label){
    gaevent('event',ga_event,ga_label);
};

function gaevent(category, action, label){
    if(test_channel.indexOf(action) >-1) label = label+test_version;
    console.log("ga:"+category+","+action+","+label);
    _gaq.push(['_trackEvent', category, action, label, 1]);
};

(function() {
 var ga = document.createElement('script');
 ga.type = 'text/javascript';
 ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
 var s = document.getElementsByTagName('script')[0];
 s.parentNode.insertBefore(ga, s);
})();
 

$("body").on('click', '[ga_event]', function(e){
     var $this =  $(this);
     var ga_category = $this.attr('ga_category') || 'event';
     var ga_event = $this.attr('ga_event');
     var ga_label = $this.attr('ga_label');
     gaevent(ga_category,ga_event,ga_label);
     var href = this.href, target = this.target;
     if(href !== "#" && target !== "_blank") {
        setTimeout(function(){ 
            location.href = href 
        },400);
        return false
     }
});
</script>

<script src="/static/js/user.js"></script>
<script src="/static/js/detail.js"></script>

<script>
// for wap2app abtest
var WAP2APP_ABTEST = false;

var item_type = "4",
    group_id = "{{group_id}}",
    has_more = false,
    isappinstalled = 1,
    // installedapp = $.request("app"),
    tt_from = "",
    utm_source = "None",
    native_link = nativeLink({app:'explore_article', id:group_id});


$(function(){
    user._user_cache={
    "auth_token": "{{auth_token}}"
    };
    initScrollEvents();
    initFixedBtn();
    $(".control").initActionButtons("detail");
    comments.init(group_id);
    tt_from && initAppBanner();
    
});
</script>

</body>
</html>
